<html>
    <title> Recover password</title>
    <form action="http://localhost:4000/mailer/updatePassword" method="POST">
        <input type = "hidden" name="token" value="<%= token %>">
        <input type="text" name="password">
        <input type="submit" value="Reset-Password">
    </form>
</html>